header {
  padding: 0.5rem;
  background: linear-gradient(45deg, #7cd4f8, #8aa6f5);
}

.sticky {
  padding: 0.3rem;
}

/* contact section */

.contact .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 6rem;
  width: 100%;
  max-width: 820px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 1px;
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background: var(--my_gradient);
  position: relative;
}

.circle {
  border-radius: 50%;
  background: var(--my_gradient);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #7dcef9;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0px;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid rgb(250, 250, 250);
  background: none;
  padding: 0.6rem 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: all 0.3s ease 0s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0px 0.4rem;
  color: rgb(250, 250, 250);
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.5s ease 0s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0px);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(250, 250, 250);
  font-size: 1.2rem;
  color: var(--my_black);
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 0px;
}

.btn:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.input-container span {
  position: absolute;
  top: 0px;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0px 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: all 0.3s ease 0s;
  height: 5px;
  background-color: #7ed0f9;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span::before {
  left: 50%;
}

.input-container span::after {
  right: 50%;
}

.input-container.focus label {
  top: 0px;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: var(--my_black);
}

.text {
  color: rgb(51, 51, 51);
  margin: 1.5rem 0px 2rem;
}

.information {
  display: flex;
  color: rgb(85, 85, 85);
  margin: 0.7rem 0px;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0px 0px;
}

.social-media p {
  color: rgb(51, 51, 51);
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: var(--my_gradient);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: all 0.3s ease 0s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid var(--accent_clr);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: var(--my_gradient);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

/* Media queries */

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }
  .contact-info::before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .contact-form::before {
    top: -13px;
    left: initial;
    right: 70px;
    background-color: #8ba0f8;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }
  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
  .text {
    margin: 1rem 0px 1.5rem;
  }
  .social-media {
    padding: 1.5rem 0px 0px;
  }
}

@media (max-width: 480px) {
  .contact .container {
    padding: 1.5rem;
  }
  .contact-info::before {
    display: none;
  }
  .square,
  .big-circle {
    display: none;
  }
  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .title {
    font-size: 2rem;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .icon {
    width: 23px;
  }
  .input {
    padding: 0.45rem 1.2rem;
  }
  .btn {
    padding: 0.45rem 1.2rem;
  }
}
