.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #70fffa, #8c9cf8);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 5%;
  overflow-x: hidden;
}

.logo-section a {
  display: grid;
  place-items: center;
}

.content{
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
    opacity: 0;
}
.content p{
    line-height: 28px;
    opacity: 0;
}
.links{
    margin-top: 30px;
    opacity: 0;

}
.links button {
  /* width: 200px; */
  padding: 15px 43px;
  margin: 0 15px;
  text-align: center;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: 2px solid #006bff;
  cursor: pointer;
  color: #fff;
  background: transparent;
}
.anim {
  animation: slideUp 1s linear forwards;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
p.anim {
  animation-delay: 2s;
}
.links.anim {
  animation-delay: 3s;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
.content button span {
  background: #459cfc;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.content button:hover span {
  width: 100%;
}

.logo-section .container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: space-evenly;
}
